.starwars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.starwars-char-card {
    background-color: black;
    width: 450px;
    padding: 20px;
    border: 1px solid yellow;
    margin: 20px;
}

.starwars-char-card h1 {
    color: black;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.starwars-char-card p {
    color: yellow;
    font-weight: 600;
}

.empty-space {
    height: 40px;
}